
body {
  font-family: 'avenirNext', sans-serif;
  -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;

}

@font-face {
  font-family: 'avenirNext';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'avenirNext';
    src: url('../fonts/Avenir/Avenir Next.ttc');
}
/*background-color: #f6f6f6;*/

nav {
  width: 250px;
  max-height: 100vh;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
  border-top: 0;
  border-bottom: 0;
}

h2 {

}

.main-content {
  padding-top: 100px;
  margin-left: 290px;
}




img {
  vertical-align: middle;
  padding-right: 3px;
}
/*button:hover {
	font-weight: 600;
}*/

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1em;
}

.nav-links {
  list-style: none;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
  /*transition: all 300ms ease-in-out;*/
  border-right: 0;
  border-left: 0;
  padding: 20px;
  display: block;
  transition: all 0.3s ease-in-out;
}

.sub-menu .update-view {
  border:none;
  font-size: 1.4em;
  line-height: 1em;
}
a:hover {
  color: #e45620;
}

/*a:visited {
  color: #7b7b7b;
}*/

ul {
  padding: 0;
  margin: 0;
  display:none;
}

li {
  border: none;
  background-color: #f6f6f6;
}

#intro {
  display: grid;
  grid-gap: 2em;
}

#intro div:nth-of-type(1) {
  grid-column: 1;
  grid-row: 1;
}

#intro div:nth-of-type(2) {
  grid-column: 2;
  grid-row: 1;
}

#intro div:nth-of-type(3) {
  grid-column: 3;
  grid-row: 1;
}


p {
  font-size: 14px;
}

.sub-article {
  display: none;
}


.color-grid {
  display: grid;
  grid-column-gap: 2em;
  /*grid-column: 5fr;
  grid-row: 2fr;*/
}

.color-grid h2 {
  grid-column: 1;
  grid-row: 1;
}

.color-grid h3:nth-of-type(1) {
  grid-column: 1;
  grid-row: 2;
}

.color-grid h3:nth-of-type(2) {
  grid-column: 1;
  grid-row: 4;
}

.color-grid p {
  width: 100px;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-grid p:nth-of-type(1) {
  background-color: #e45620;
  color: #ffffff;
  grid-column: 1;
  grid-row: 3;
}

.color-grid p:nth-of-type(2) {
  background-color: #e4252b;
  color: #ffffff;
  grid-column: 2;
  grid-row: 3;
}

.color-grid p:nth-of-type(3) {
  background-color: #eb922f;
  color: #ffffff;
  grid-column: 3;
  grid-row: 3;

}

.color-grid p:nth-of-type(4) {
  background-color: #f6f6f6;
  grid-column: 1;
  grid-row: 5;
  border-color: #000000;
  border-width: thin;
}

.color-grid p:nth-of-type(5) {
  background-color: #e2e2e2;
  grid-column: 2;
  grid-row: 5;
}

.color-grid p:nth-of-type(6) {
  background-color: #a0a0a0;
  grid-column: 3;
  grid-row: 5;
}

.color-grid p:nth-of-type(7) {
  background-color: #7b7b7b;
  grid-column: 4;
  grid-row: 5;
}

.color-grid p:nth-of-type(8) {
  background-color: #4d4d4d;
  grid-column: 5;
  grid-row: 5;
}











.web-text {
  display: grid;
}











/*---------------------------------------------------------------------*/

/*@media screen and (max-width: 992px){
  div {
    width: 100%;
  }
}*/


@media screen and (max-width 660px){
  /*#intro {
    display: grid;
    grid-gap: 2em;
  }*/

  /*#intro div:nth-of-type(1) {
    grid-column: 1;
    grid-row: 1;
  }

  #intro div:nth-of-type(2) {
    grid-column: 1;
    grid-row: 2;
  }

  #intro div:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3;
  }*/
}
