/* {margin: 0;padding:0;box-sizing: border-box;}*/

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: column;
    position: relative;
    margin: 0;
}

/*background-color: #f6f6f6;*/

nav {
  width: 250px;
  max-height: 100vh;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
  border-top: 0;
  border-bottom: 0;
}

h2 {

}

.main-content {
  padding-top: 100px;
  margin-left: 290px;
}



article {
  display:flex;
  position: relative;
  box-sizing: border-box;

}

img {
  vertical-align: middle;
  padding-right: 3px;
}
/*button:hover {
	font-weight: 600;
}*/

a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1.4em;
  line-height: 1em;

}

.nav-links {
  list-style: none;
  border-style: solid;
  border-width: thin;
  border-color: #e2e2e2;
  /*transition: all 300ms ease-in-out;*/
  border-right: 0;
  border-left: 0;
  padding: 10px;
  display: block;
}

ul {
  padding: 0;
  margin: 0;
}


p {
  font-size: 14px;
}
